.bodyMiddle{
    background-color: rgba(0, 60, 255, 0.822);
    border-bottom-left-radius: 50%;
    .middleInner{
     display: flex;   
     margin: 20px auto;
     width: 80%;
     .right-middle{
        margin: 0 auto;
     }
 }
}