.bodyMiddle{
    background-color: rgba(0, 60, 255, 0.822);
    border-top-right-radius:150px ;
    border-bottom-left-radius: 150px;
    .middleInner{
     display: flex;   
     margin: 20px auto;
     width: 80%;
     justify-content: center;
     align-items: center;
     .right-middle{
        margin: 0 auto;
     }
 }
}