.containerInfo{
    margin: 40px auto;
    letter-spacing: 1px;
    width: 80%;
    h4{
        margin: 10px 0px;
        text-align: center;
    }
    p{
        margin: 10px 0px;
        line-height: 1.5rem;
        text-align: center;
    }
}