.btns{
    padding: 10px;
    display: flex;
    button{
        padding: 11px 15px;
        font-size: 1.2rem;
        cursor: pointer;
        border: none;
        border-radius: 12px;
        margin: 0px 12px;
        color: red;
        &:first-child{
            border: none;
            color: wheat;
            background: none;
        }
    }
}